<div class="row">
	<div class="col-md-12">
		<p>
			<h1>Welcome to Entropia Stats.</h1>
			We're here to help you play Entropia in a smarter way :)
		</p>

	</div>
</div>

<div class="row">
	<div class="col-md-4">
		
	</div>
	<div class="col-md-8">
	</div>
</div>